<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tot Tally - {{.Name}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>

  <body>
    <div class="container is-fluid">
      <div class="columns is-centered is-vcentered is-mobile has-text-centered">
        <section class="hero">
          <div class="hero-body">
            <h1 class="title">Tot Tally</h1>
            <h2 class="subtitle">{{.Name}}</h2>
          </div>
        </section>
      </div>

      <div class="columns has-text-centered">
        <div class="column">
          <form method="POST" class="box">
            <div class="content">
              <h2>Feeds</h2>
              <p>Last feed: {{.TimeSinceLastFeed}}</p>
            </div>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <label class="label">Ounces</label>
                  <div class="control">
                    <div class="select">
                      <select id="ounces" name="ounces">
                        <option value="0" label="0">0</option>
                        <option value="1" label="1">1</option>
                        <option value="2" label="2">2</option>
                        <option value="3" label="3">3</option>
                        <option value="4" label="4">4</option>
                        <option value="5" label="5">5</option>
                        <option value="6" label="6">6</option>
                        <option value="7" label="7">7</option>
                        <option value="8" label="8">8</option>
                        <option value="9" label="9">9</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Note (Optional)</label>
              <div class="control">
                <input
                  type="text"
                  name="note"
                  placeholder="Note (Optional)"
                  maxlength="60"
                  class="input control"
                />
              </div>
            </div>

            <div class="control">
              <button type="submit" class="button is-primary">
                Record Feeding
              </button>
            </div>

            <br />

            <table
              class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
            >
              <tr>
                <th>Time (Feeds)</th>
                <th>Ounces</th>
                <th>Note</th>
              </tr>
              {{range .Feeds}}
              <tr>
                <td>{{.Time}}</td>
                <td>{{.Ounces}}</td>
                <td>{{.Note}}</td>
              </tr>
              {{end}}
            </table>
          </form>
        </div>

        <div class="column">
          <form method="POST" class="box">
            <div class="content">
              <h2>Soils</h2>
              <p>Last soil: {{.TimeSinceLastSoil}}</p>
            </div>

            <div class="columns is-gapless">
              <div class="column">
                <div class="field">
                  <label for="wet" class="label">Wet</label>
                  <div class="control">
                    <div class="select">
                      <select id="wet" name="wet">
                        <option value="None">None</option>
                        <option value="Light">Light</option>
                        <option value="Medium">Medium</option>
                        <option value="Heavy">Heavy</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <label for="soil" class="label">Soil</label>
                  <div class="control">
                    <div class="select">
                      <select id="soil" name="soil">
                        <option value="None">None</option>
                        <option value="Light">Light</option>
                        <option value="Medium">Medium</option>
                        <option value="Heavy">Heavy</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Note (Optional)</label>
              <input
                type="text"
                name="note"
                placeholder="Note (Optional)"
                maxlength="60"
                class="input control"
              />
            </div>

            <div class="control">
              <button type="submit" class="button is-primary">
                Record Soil
              </button>
            </div>
            <br />

            <table
              class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
            >
              <tr>
                <th>Time (Soils)</th>
                <th>Wet</th>
                <th>Soil</th>
                <th>Note</th>
              </tr>
              {{range .Soils}}
              <tr>
                <td>{{.Time}}</td>
                <td>{{.Wet}}</td>
                <td>{{.Soil}}</td>
                <td>{{.Note}}</td>
              </tr>
              {{end}}
            </table>
          </form>
        </div>
      </div>

      <div class="columns is-centered is-vcentered is-mobile has-text-centered">
        <form method="POST" class="box">
          <div class="content">
            <h2>Timezone</h2>
            <p>Current: {{.Timezone}}</p>
          </div>
          <div class="field">
            <div class="control">
              <div class="select">
                <select id="timezone" name="timezone">
                  <option value=""></option>
                  <option value="Pacific/Honolulu">
                    Pacific/Honolulu GMT-10:00
                  </option>
                  <option value="America/Anchorage">
                    America/Anchorage GMT-9:00
                  </option>
                  <option value="America/Los_Angeles">
                    America/Los_Angeles GMT-8:00
                  </option>
                  <option value="America/Boise">America/Boise GMT-7:00</option>
                  <option value="America/Denver">
                    America/Denver GMT-7:00
                  </option>
                  <option value="America/Phoenix">
                    America/Phoenix GMT-7:00
                  </option>
                  <option value="America/Chicago">
                    America/Chicago GMT-6:00
                  </option>
                  <option value="America/Detroit">
                    America/Detroit GMT-5:00
                  </option>
                  <option value="America/New_York">
                    America/New_York GMT-5:00
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button type="submit" class="button is-secondary">
                Update Timezone
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <br /><br />
  </body>
</html>
